* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.section {
  padding: 100px;
}

/*--------Header------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  padding-bottom: 0 !important;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
}
header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo img {
  height: 100px;
  width: 200px;
}
.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
.sticky ul li a {
  color: #111;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

/*-----------Hero--------*/
.home {
  background: url(./img/back.jpeg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.5;
}

.home .textBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .textBx h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  z-index: 100;
}

/*------------Courses----------*/
.courses {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #111;
}

.courses .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses .content .heading h2 {
  text-align: center;
  color: #fff;
  font-size: 60px;
}

.courses .content .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courses .content .card {
  margin: 50px 80px;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-out;
}

.courses .content .card:hover {
  background-color: #2196f3;
}

.courses .content .card a h4 {
  color: #fff;
  font-size: 30px;
}

/*---------Routine-------*/
.routine {
  padding-top: 100px;
  padding-bottom: 50px;
}
.routine .content .heading h2 {
  text-align: center;
  color: #111;
  font-size: 60px;
}

.routine .content .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.routine .content .card .accordion {
  background-color: #eee;
  color: #444;
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 500px;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.5s ease-out;
}

.routine .content .card .accordion.active {
  background-color: #ccc;
  width: 100%;
}
.routine .content .card .accordion:hover {
  background-color: #ccc;
}

.routine .content .card .panel {
  background-color: white;
  display: none;
  overflow: hidden;
}

/*------------Exam----------*/
.exam {
  padding-top: 100px;
  padding-bottom: 50px;
}
.exam .content .heading h2 {
  text-align: center;
  color: #111;
  font-size: 60px;
}

.exam .content .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.exam .content .card .accordion {
  background-color: #eee;
  color: #444;
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 500px;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.5s ease-out;
}

.exam .content .card .accordion.active {
  background-color: #ccc;
  width: 100%;
}
.exam .content .card .accordion:hover {
  background-color: #ccc;
}

.exam .content .card .panel {
  background-color: #ccc;
  display: none;
  overflow: hidden;
  display: none;
  padding: 10px 20px;
}
.exam .content .card .panel .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exam .content .card .panel h4 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
.exam .content .card .panel h5 {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}
.exam .content .card .panel .exam-link {
  background-color: #111;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 10px 25%;
  transition: all 0.5s ease-out;
}
.exam .content .card .panel .exam-link:hover {
  background-color: rgb(63, 58, 58);
}
.exam .content .card .panel .exam-link a {
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
}

/*------------Footer---------*/
footer {
  padding-top: 100px;

  background-color: #111;
}

footer .content .heading h2 {
  text-align: center;
  color: #fff;
  font-size: 60px;
}

footer .content .description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

footer .content .description .item {
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
footer .content .description .item i {
  color: #fff;
  font-size: 30px;
  margin-right: 5px;
}
footer .content .description .item p {
  color: #fff;
  font-size: 20px;
  display: inline-block;
}

footer .content .copyright h3 {
  color: #111;
  background-color: #fff;
  text-align: center;
  margin-top: 100px;
}
/*-------Media Queries------*/
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    padding-bottom: 0 !important;
    z-index: 1000;
  }
  header .logo img {
    height: 100px;
    width: 200px;
  }
  header ul {
    position: fixed;
    top: 125px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .menu.active {
    left: 0;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(./img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background: url(./img/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }

  /*-----Hero-----*/
  .home .textBx h2 {
    font-size: 40px;
  }

  /*--------Routine-----*/

  .routine .content .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .routine .content .cards .card .accordion {
    width: 100%;
    margin-top: 20px;
  }

  .routine .content .cards .card .panel img {
    width: 100%;
  }

  /*--------Exam--------*/

  .exam .content .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .exam .content .cards .card .accordion {
    width: 100%;
    margin-top: 20px;
  }
  .exam .content .cards .card .panel .form h4 {
    font-size: 20px;
  }
  .exam .content .cards .card .panel .form h5 {
    font-size: 20px;
  }
  .exam .content .cards .card .panel .form .exam-link {
    margin-top: 20px;
    padding: 10px 50px;
  }
  .exam .content .cards .card .panel .form .exam-link a {
    padding: 0;
    font-size: 20px;
  }

  /*-------footer-----*/
  footer .content .heading h2 {
    font-size: 40px;
  }
  footer .content .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .content .description .item {
    margin-top: 50px;
  }
}
